@using System.Security.Claims 
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <div>
                @if (context.User.Identity.AuthenticationType.ToLower() == "facebook")
                {
                    string id = context.User.FindFirst(ClaimTypes.NameIdentifier).Value;
                    <img src="https://graph.facebook.com/@id/picture" />
                }
                else
                {
                    <img src="img/user.svg" height="32" />
                }

                <span class="username">@context.User.Identity.Name, using @context.User.Identity.AuthenticationType</span>

                <a class="sign-out" href="user/signout">Sign out</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/register">Register</a>
            <a href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}